<div class="table-responsive small-text">
    <table class="table table-sm text-center fw-semibold caption-top">
        <h3 class="text-secondary"><%= type.capitalize %> Tasks</h3>
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Category</th>
            <th scope="col">Owner</th>
            <th scope="col">Patient</th>
            <th scope="col">Consent</th>
            <% if type == "completed" %>
              <th scope="col">Outcomes</th>
            <% end %>
            <% if type == "cancelled" || type == "rejected" %>
              <th scope="col">Reason</th>
            <% end %>
            <% if type == "active" %>
              <th scope="col">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% referrals&.each do |referral| %>
            <tr id="task-row-<%= referral.id %>">
              <td><%= referral.focus&.description %></td>
              <td><%= referral.focus&.priority || "-" %></td>
              <td>
                <% status = referral.status %>

                <% if status == "requested" %>
                  <span class="badge rounded-pill bg-info text-dark"></span> Requested
                <% end %>
                <% if status == "in-progress" %>
                  <span class="bi bi-arrow-repeat text-success"></span> In Progress
                <% end %>
                <% if status == "completed" %>
                  <span class="bi bi-check-lg text-success"></span> Completed
                <% end %>
                <% if status == "received" %>
                  <span class="bi bi-arrow-bar-down text-primary"></span> Received
                <% end %>
                <% if status == "cancelled" || status == "rejected" %>
                  <span class="bi bi-x-circle text-danger"></span><%= status %>
                <% end %>

                <% if status == "accepted" %>
                  <span class="bi bi-check-circle text-success"></span> Accepted
                <% end %>
              </td>
              <td><%= referral.focus&.category || "-" %></td>
              <td><%= referral.owner_name %></td>
              <td><%= referral.patient_name %></td>
              <td>
                <% if referral.consent.present? %>
                  <%= link_to referral.consent.code, "#fhir-resource-modal-#{referral.consent&.id}", data: { bs_toggle: "modal" } %>
                  <% content_for :modals do %>
                    <%= render "shared/fhir_resource_modal", resource: referral.consent.fhir_resource %>
                  <% end %>
                <% else %>
                --
                <% end %>
              </td>
              <td>
                <% if type == "completed" %>
                  <%= link_to referral.outcome_type, "#referral-procedure-modal-#{referral.outcome&.id}", data: { bs_toggle: "modal" } %>
                  <% content_for :modals do %>
                    <%= render "dashboard/procedure_modal", resource: referral.outcome %>
                  <% end %>
                <% elsif type == "active" %>
                  <%= link_to "/tasks/#{referral.id}/cancelled", class: "action-button text-nowrap text-muted" do %>
                    <span class="icon"><i class="bi bi-trash text-muted"></i></span>
                    <span class="label">Cancel Task</span>
                  <% end %>
                <% elsif status == "rejected" || status == "cancelled" %>
                  <%= referral.status_reason || "--" %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
