<!-- app/views/dashboard/_main_header.html.erb -->

<header class="main-header py-2">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="logo-container">
          <%= image_tag 'logo.svg', class: 'image', alt: 'logo' %>
          <span class="name">Coordination Platform</span>
        </div>
      </div>
      <div class="col-auto">
        <ul class="nav nav-tabs nav-fill mb-3" id="dashboardTabs" role="tablist">
          <%= render partial: 'tab', locals: {id: 'service-requests', label: 'Service Requests', active: true} %>
          <%= render partial: 'tab', locals: {id: 'our-tasks', label: 'Our Tasks', active: false} %>
          <%= render partial: 'tab', locals: {id: 'requesting-organizations', label: 'Requesting Organizations', active: false} %>
          <%= render partial: 'tab', locals: {id: 'cbo', label: 'Community Based Organizations', active: false} %>
        </ul>
      </div>
      <div class="col-auto">
        <%= render 'user_info' %>
      </div>
    </div>
  </div>
</header>
