<!-- dashboard/_service_requests.html.erb -->

<div class="tab-pane fade <%= 'show active' if active %>" id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>-tab">

  <% if @active_ehr_tasks.nil? && @completed_ehr_tasks.nil? && @canceled_ehr_tasks.nil? %>
    <h5 class="text-muted text-center my-3"> There no requests yet</h5>
  <% else %>
    <div class="table-wrapper my-3">
      <div id="active-ehr-tasks-table">
        <%= render "ehr_tasks_table", referrals: @active_ehr_tasks, type: "active" %>
      </div>
    </div>
    <div class="table-wrapper my-3">
      <div id="completed-ehr-tasks-table">
        <%= render "ehr_tasks_table", referrals: @completed_ehr_tasks, type: "completed" %>
      </div>
    </div>
    <div class="table-wrapper my-3">
      <div id="canceled-ehr-tasks-table">
        <%= render "ehr_tasks_table", referrals: @canceled_ehr_tasks, type: "canceled" %>
      </div>
    </div>
  <% end %>

</div>
