<!-- app/views/dashboard/_tabs.html.erb -->

<div data-controller="poll-tasks" data-poll-url="<%= cp_client_connected? ? poll_tasks_path : '' %>">
  <div class="tab-content mt-2">
    <%= render partial: "service_requests", locals: { id: "service-requests", active: active_tab == "service-requests"} %>
    <%= render partial: "our_tasks", locals: { id: "our-tasks", active: active_tab == "our-tasks" } %>
    <%= render partial: "requesting_organizations", locals: { id: "requesting-organizations", active: active_tab == "requesting-organizations" } %>
    <%= render partial: "cbo_organizations", locals: { id: "cbo", active: active_tab == "cbo" } %>
  </div>
</div>
